<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<body>

	<div th:insert="~{navbar :: navbarAdmin}"></div>

	<h4 style="text-align:center;">Inserisci i dati del Fotografo che vuoi aggiungere.</h4>
	<form th:action="@{/fotografo}" method="POST" th:object="${fotografo}" class="form">
		<div class="container form-group">
			Nome: <input type="text" th:field="*{nome}"  class="form-control" /><br/>
			Cognome: <input type="text" th:field="*{cognome}"  class="form-control" /><br/>
			Nome d'arte: <input type="text" th:field="*{nomeArte}"  class="form-control" /><br/>
			<button type="submit" class="btn btn-primary center-block btn-block" >Registra</button>
		</div>
	</form>

</body>
</html>