<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Pagina iniziale</title>
<meta charset="utf-8" />
		
</head>
<body>
<div>

	<div th:insert="~{navbar :: navbarClient}"></div>
	
	<br/>
	<div style="text-align:center;">
		<h1>Benvenuti nel portale SILPH SPA</h1>
		<br/>
		<p>Naviga nella pagina foto per scegliere le tue foto. <a th:href="@{/foto}">Qui.</a></p>
	</div>
	<br/>

</div>
</body>
</html>