<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<body>	
	
	<div th:insert="~{navbar :: navbarClient}"></div>
	
	<!--
	<br/>
	<div style="text-align:center">
		<h1>Sign In</h1><br/>
		<p>Username: <span style="font-weight: 700;">Mario</span><p>
		<p>Password: <span style="font-weight: 700;">Rossi</span><p>
	</div>
	<br/>
	 -->
	
	<br/>
	<h1 style="text-align:center">Sign In</h1><br/>
	<br/>
	
	<!-- Fa il redirect alla pagina admin -->
	<form method="POST" class="form" action="admin">
		<div class="container form-group">
			Username: <input type="text" th:value="${username}" class="form-control" name="username"/ required autofocus><br>
			Password: <input type="password" th:value="${password}" class="form-control" name="password"/ required><br>
			<input type="submit" value="Login" class="btn btn-primary center-block btn-block" name="bottoneLogin"/>
		</div>
	</form>
</body>
</html>